---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="404"
	description="About Abducted by AI"
	pubDate={new Date('January 01 2999')}
	tags={["404"]}
>

<h1 style="text-align: center;">Whoops... you traveled too far, nothing to see here.</h1>

<img src="/assets/product/images/aba-logo.svg" title="Abducted by AI"/>

</Layout>