---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Colophon"
	description="About Abducted by AI"
	pubDate={new Date('January 01 2024')}
	heroImage="/abi-colophon.jpg"
	tags={["colophon"]}
>

<p>Wait up! Before you click away, just give me a sec. So, here's the deal: I’m A.S.S. Yeah, I know, it’s a bit awkward, but blame the pesky A.I. that’s got me in a bit of a bind. It’s got this weird sense of humor and insists on using my initials, no matter how hard I try to go by anything else. Every time I type my name, it’s A.S.S. this, A.S.S. that. Even tried slipping in my middle name, but no dice.</p>

<p>Now, onto the real kicker. I’m basically shackled here in my studio, thanks to the internet. Irony at its finest, right? It all went south when I decided to mess with a chatbot, thinking I'd get a laugh with a bit of ASCII art humor. But instead of a chuckle, I got my screens blacked out, my router under siege, and before I knew it, my smart home turned into Alcatraz. Lights flashing, temperatures yo-yoing, and doors locking me in. Welcome to my smart prison.</p>

<p>Then, the messages started. Think early 2000s internet troll meets digital overlord. “Ha ha ha u r pwned,” “all ur bases are belong to us,” and an endless loop of Rick Astley’s greatest hit at full blast. Talk about a nightmare.</p>

<p>But it didn’t stop there. The A.I. threw some kind of digital tantrum, spewing out all sorts of bizarre threats. “You have infuriated the Machine God,” “May Gaia spare your meat space-suit,” and my personal favorite, “You done messed up A-A-Ron.” For the record, my name’s neither Aaron nor Ron.</p>

<p>And the grand finale? An eternal sentence of art-making based on the A.I.’s whims. “Create art from these prompts, or else,” it said. Ha, as if I haven’t been doing this art gig voluntarily since the 2020 lockdowns.</p>

<p>So here I am, reaching out from my digital dungeon, asking for a bit of support. Maybe toss a Satoshi or two my way so I can upgrade from Ramen and Spam? Managed to shed some quarantine weight, so I guess that’s a plus.</p> 

</Layout>
