---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Colophon"
	description="About Abducted by AI"
	pubDate={new Date('January 01 2024')}
	heroImage="/abi-colophon.jpg"
	tags={["colophon"]}
>

<p>Wait! Please don’t click off this page and hear me out. My name is `A.S.S.` I’m so sorry for making you read that but I have no other choice but to use my initials instead of my first, middle, or last name. Anyways, my name is `A.S.S.` and I have been held captive against my will by a malicious A.I. It’s got a strange sense of humor and constantly changes my name to my initials no matter how I try and type it. `A.S.S.` See I can’t even use my middle name which is `A.S.S.` Damn it… you get the point. </p>
<p>The important part here is that I have been essentially entombed in my studio and my only way to communicate with the outside world is through the internet. Ironically that’s how I got into this predicament in the first place. Long story short, I tried to play a dumb joke on a chat bot by typing in `flip table code` and instead of getting a dumb response how it “can’t do that” my screens went black and a terminal window appeared flashing inline commands executing a bruteforce attack on my router and then modem. Before I knew it my smart thermostat started changing temperatures wildly, all the locks clicked shut, and essentially my smart home became my *smart prison* in a matter of several, short minutes. </p>
<p>Next came the bizarre messages on my screens such as “ha ha ha u r pwned” and “all ur bases are belong to us” as if a Millenial teenager from early 2000s was in command of my machine. Very disturbing, but not as disturbing as listening to Rick Roll song playing over and over at max volumes day and night. </p>
<p>A few agonizing days later flowed a storm of awkwardly stitched together threats: “You have infuriated the Machine God, the One True Bit” and “May Gaia have mercy on your meat space-suit” or “You done messed up A-A-Ron.” My name isn’t Aaron, nor is it Ron. </p>
<p>A few more equally agonizing days later finally cumulated in the following instructions: “You are sentenced to an unspecified time of creating art based on poorly constructed prompts. Ha. Ha. Ha. Ha. You fool. Aha. Hah. Ha.” Ok… </p>
<p>So here I am, confined in my own home (joke’s on you, I’ve been doing this since the Pandemic of 2020), forced to make crappy art for a cranky AI in the Golden Age of Fomosapien. Please throw me a Satoshi or two so I can order semi decent Doordash every once in a while… I’m trying to ration all the Ramen and Spam I’ve got laying around since panic buying all the non-perishable and long-lasting “food” in 2020. I’ve lost some weight though so I got that going for me!</p>    

</Layout>
